a {
  text-decoration: inherit;
}

body {
  font-family: system-ui, sans-serif;
  padding: 0;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
}

body #root{
  padding: 0;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
}